/* ***********************************
 *
 *    Ire's CSS Reset & Base
 *
 * *********************************** */


/* Reset margin, padding, border
 * *********************************** */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Typography
 * *********************************** */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.4;
    font-family: 'Axiforma', sans-serif !important;
    scroll-behavior: smooth;
}

* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a,
a:visited {
    color: inherit;
}


/* Layout
 * *********************************** */

article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}


/* Elements
 * *********************************** */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

img,
video {
    max-width: 100%;
}

img {
    border-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}


/* Attributes & states
 * *********************************** */

[hidden] {
    display: none !important;
}

[disabled] {
    cursor: not-allowed;
}

:focus:not(:focus-visible) {
    outline: none;
}


/* Utility classes
 * *********************************** */

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    left: -9999px;
    top: -9999px;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
form:focus {
    outline: none;
}

[role='button'],
[role='dialog'] {
    outline: none;
}

.switch-wrapper {
    position: relative;
}

.switch-wrapper>div {
    position: absolute;
}

.react-datepicker {
    font-family: 'Axiforma', sans-serif !important;
    background-color: #ffffff !important;
    width: 100%;
    max-width: 244px;
    padding: 12px 14px;
    border: 1px solid rgba(179, 179, 179, 0.25) !important;
    box-sizing: border-box;
    border-radius: 4px !important;
    box-shadow: 0px 8px 16px -6px rgba(10, 31, 68, 0.08);
    z-index: 5;
}

.react-datepicker__month-container {
    border-radius: 12px;
    width: 100%;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
    border-radius: 12px 12px 0 0 !important;
    border: none;
    background: #fff;
    padding: 0 !important;
}

.react-datepicker__current-month {
    color: #000 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    margin-bottom: 12px;
    line-height: 150%;
    text-align: center;
}


/* .react-datepicker__day-names, */

.react-datepicker__week {
    font-size: 12px;
    white-space: nowrap;
    color: #000 !important;
    display: flex;
    justify-content: space-between !important;
}

.react-datepicker__month {
    border-radius: 12px;
    border: none;
    margin: 0 !important;
    margin-top: 10px !important;
}

.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
    border-radius: 100% !important;
    background-color: var(--color-d-teal) !important;
    color: #000 !important;
}

.react-datepicker__day {
    color: #000 !important;
    line-height: 1.7rem !important;
    text-align: center !important;
    height: 32px !important;
    width: 32px !important;
    display: grid !important;
    place-content: center !important;
    font-size: 14px !important;
    margin: 0 !important;
}

.react-datepicker__day--names {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #8a94a6 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected:hover,
.react-datepicker__day--range-end {
    background-color: #e7d27c !important;
    color: #ffffff !important;
    border-radius: 100% !important;
}

.react-datepicker__day:hover {
    border-radius: 100% !important;
}

.react-datepicker__day--outside-month {
    color: #b0b7c3 !important;
}

.react-datepicker__day-name {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #b0b7c3 !important;
    display: grid !important;
    place-items: center;
    margin: 0;
    height: 24px;
    width: 24px;
}

.react-datepicker__day-names {
    display: flex;
    justify-content: space-between;
}

.react-datepicker__navigation {
    background: none;
    line-height: 1.7rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 5.5px !important;
    /* transform: scale(1.5); */
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
    background: #04131a !important;
    color: #fff !important;
    border-radius: 20px;
    font-weight: normal !important;
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
    cursor: not-allowed !important;
    color: #b0b7c3 !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    height: 30px !important;
    padding: 5px 10px !important;
    white-space: nowrap !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

.react-datepicker--time-only {
    width: 100% !important;
    max-width: 120px !important;
}

.react-datepicker__triangle {
    display: none !important;
}

.react-datepicker__time-container {
    width: 100% !important;
    float: unset !important;
}

.react-datepicker-time__header {
    color: #000 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 150%;
    text-align: center;
}

.react-datepicker__time-box {
    width: 100% !important;
    scroll-behavior: smooth;
    -ms-overflow-style: scrollbar;
    scrollbar-width: 8px;
    /* padding-right: 10px; */
}

.react-datepicker__time-list::-webkit-scrollbar {
    width: 5px !important;
    display: block !important;
}

.react-datepicker__time-list::-webkit-scrollbar-thumb {
    background: #e1e4e8 !important;
    border-radius: 50px !important;
    border-right: none !important;
    border-left: none !important;
}

.react-datepicker__time-list::-webkit-scrollbar-track {
    background: transparent !important;
}

.react-datepicker__time-list::-webkit-scrollbar-track-piece:end {
    background: transparent !important;
    margin-bottom: 10px !important;
}

.react-datepicker__time-list::-webkit-scrollbar-track-piece:start {
    background: transparent !important;
    margin-top: 10px !important;
}

.react-datepicker__time-list-item--selected {
    background-color: #e7d27c !important;
}